.book-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.book-list li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.25em;
    cursor: pointer;
}

.sale-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}